In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append(r'C:\Users\hazc\Desktop\Concept-Factor\dependencies')
import concept_helper as cp
from ConceptEvent import ConceptEvent
from sqlalchemy import create_engine

c:\Users\hazc\anaconda3\Lib\site-packages\iFinDPy.pth

In [78]:
engine = create_engine('mysql+pymysql://tangzt:zxcv1234@10.224.1.70:3306/jydb?charset=utf8')
query = "select DATETIME, wind_code, PCT_CHG from jydb.dstock where EXTRACT(YEAR FROM DATETIME) BETWEEN 2014 AND 2023"
return_df = pd.read_sql(query, engine)

In [80]:
start_date = '2020-01-01'
end_date = '2020-12-31'
query = f"""
SELECT DATETIME, wind_code, PCT_CHG FROM jydb.dstock
WHERE DATETIME BETWEEN '{start_date}' AND '{end_date}'
"""
return_df = pd.read_sql(query, engine)

In [81]:
return_df

          DATETIME  wind_code  PCT_CHG
0       2020-01-02  000001.SZ   2.5532
1       2020-01-02  000002.SZ   1.1809
2       2020-01-02  000004.SZ  -1.1510
3       2020-01-02  000005.SZ   1.6181
4       2020-01-02  000006.SZ   0.7463
...            ...        ...      ...
951981  2020-12-31  688699.SH   1.7897
951982  2020-12-31  688777.SH   0.2200
951983  2020-12-31  688788.SH   0.2256
951984  2020-12-31  688981.SH   2.2667
951985  2020-12-31  689009.SH   6.0685

[951986 rows x 3 columns]

In [6]:
concept_status_sorted = concept_status.sort_values(by=['tradedate'])
concept_status_sorted['status_val'] = concept_status_sorted['status'].replace({'纳入': 1, '剔除': -1})
cum_status = pd.pivot_table(concept_status_sorted, values='status_val', index='tradedate', columns=['concept', 'wind_code'], aggfunc='sum').cumsum().fillna(method='ffill')
active_stocks = (cum_status > 0).astype(int)

In [14]:
import datetime
def ts_date(str):
    return datetime.datetime.strptime(str, '%Y-%m-%d').date()

In [41]:
simpilarity_pivot = pd.pivot_table(concept_status_sorted, index='tradedate', columns=['concept', 'wind_code'], values='similarity').fillna(method='ffill')

In [44]:
similarity_status_data = active_stocks * simpilarity_pivot

In [48]:
daily_return_pivot = pd.pivot_table(return_df, index='DATETIME', columns='wind_code', values='PCT_CHG')

In [49]:
daily_return_pivot

wind_code,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,873122.BJ,873152.BJ,873167.BJ,873169.BJ,873223.BJ,873305.BJ,873339.BJ,873527.BJ,873576.BJ,873593.BJ
DATETIME,,,,,,,,,,,,,,,,,,,,,
2014-01-02,-0.1633,-0.4981,1.3734,-0.4000,-1.2170,1.1527,0.0000,-0.5291,0.3911,0.1280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-03,-2.4530,-1.8773,-0.0847,-1.2048,-2.8747,-0.2849,-0.5556,-2.6596,0.7792,-2.3018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-06,-2.1794,-4.5918,4.2373,-3.2520,-5.7082,0.2857,-4.9162,-0.8743,-6.9588,-3.6649,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-07,-0.3428,-0.6684,-0.5691,2.9412,-0.2242,3.8462,-1.4101,-0.2205,0.2770,0.1359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-08,1.1178,-0.1346,0.0000,-1.6327,-1.3483,0.2743,-1.9070,-1.7680,1.9337,-2.1710,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-10,-0.0822,0.3401,-9.6228,0.6993,6.6398,0.5929,0.8299,0.4488,-3.2491,1.7769,...,1.3123,3.1297,-0.3297,-0.7463,0.0000,0.2868,0.0000,0.1493,-2.8946,0.1793
2023-08-11,-2.2204,-1.0169,-5.2970,-2.0833,10.0000,1.9646,-1.6461,-2.0554,-2.9851,5.0436,...,-2.1589,-2.0231,-0.4410,-0.9398,-1.3889,0.0000,-0.4773,-0.5961,-2.8684,1.7338
2023-08-14,-1.8503,-1.3699,5.0282,1.4184,-9.9485,-0.1927,0.4184,0.4562,-0.3846,-5.0785,...,-1.7652,-1.1799,-0.7752,0.3795,1.0563,-0.8580,-0.4796,-0.2999,-2.7794,1.1545
2023-08-15,0.5141,-0.7639,-2.5820,3.4965,2.8571,-0.1931,0.4167,-1.1807,-0.7722,-1.1673,...,-0.1797,-1.1940,-0.4464,-0.3781,0.0000,-0.1923,0.2410,-2.1053,-4.3478,-3.3696
2023-08-16,0.0000,1.7495,-3.3683,1.3514,8.7037,-0.9671,0.0000,-0.5515,1.5564,2.0669,...,-0.3600,1.0574,-0.7848,-0.3795,0.0000,-1.4451,-0.2404,0.3072,-4.6700,-8.8864

In [53]:
similarity_status_data = similarity_status_data.reindex(index=daily_return_pivot.index).fillna(method='ffill')

In [55]:
test = similarity_status_data.loc[:,'3D打印']

In [61]:
(daily_return_pivot * test).sum(axis=1)

DATETIME
2014-01-02     0.000000
2014-01-03     0.000000
2014-01-06     0.000000
2014-01-07     0.000000
2014-01-08     0.000000
                ...
2023-08-10     3.932559
2023-08-11   -44.323167
2023-08-14    16.070925
2023-08-15   -24.750348
2023-08-16   -36.984146
Length: 2343, dtype: float64

In [76]:
weights = similarity_status_data.loc[:,'宽带中国'].apply(lambda x: x / x.sum(), axis=1)

In [77]:
(daily_return_pivot * weights).sum(axis=1)

DATETIME
2014-01-02    0.000000
2014-01-03    0.000000
2014-01-06    0.000000
2014-01-07    0.000000
2014-01-08    0.000000
                ...
2023-08-10   -0.424320
2023-08-11   -1.625870
2023-08-14    1.223728
2023-08-15   -0.355516
2023-08-16   -2.050376
Length: 2343, dtype: float64